<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой портфель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.jpg') }}">
</head>
<body>
    <header>
        <h1>Мой портфель</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Главная</a></li>
            <li><a href="{{ url_for('portfolio') }}">Портфель</a></li>
            <li><a href="#">Прогноз</a></li>
            <li><a href="#">Лидеры роста и падения</a></li>
            <li><a href="#">События и рынки</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Состояние портфеля</h2>
            <p>Текущий баланс: 520,97€</p>
            <p>Прогнозируемый баланс: 520,97€</p>
            <!-- Добавьте здесь дополнительную информацию о портфеле -->
        </section>
        <!-- Добавьте здесь другие разделы и информацию о портфеле, если нужно -->
    </main>
    <footer>
        <p>© 2024 Моя веб-страница</p>
    </footer>
    <script>
        // Добавьте здесь скрипты, если нужно
    </script>
</body>
</html>
